<!-- <p class="text-center fs-3" [ngClass]="isAccountCreated ? 'text-success pt-1' : 'text-danger pb-1'">{{ displayMsg }}</p> -->
<div class="container align-items-center justify-content-center  bg-white d-flex mt-5">
  <form class=" p-5 rounded-5 shadow-lg " [formGroup]="addVender" (ngSubmit)="vendorRegSubmit()">
    <div class="row g-0">
      <div class="col text-center theme-clr p-2 mb-3">
        <h3 class="fs-2 fw-bold">Add Product <i class="bi bi-cart"></i></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mb-3">
        <label for="firstName" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="firstName" formControlName="first Name">
        <div class="form-text text-danger"
          *ngIf="FirstName.errors?.['required'] && (FirstName.touched || FirstName.dirty)">First Name is required...
        </div>
        <div class="text-danger" *ngIf="FirstName.errors?.['minlength'] && (FirstName.touched || FirstName.dirty)">First
          Name is Too Short...</div>
        <div class="text-danger" *ngIf="FirstName.errors?.['pattern'] && (FirstName.touched || FirstName.dirty)">First
          name must start with an alphabet</div>
      </div>
      <div class="col-lg-6 mb-3">
        <label for="city" class="form-label">Color Name</label>
        <select class="form-select" id="city" formControlName="city">
          <option value="" disabled>Select Color</option>
          <option *ngFor="let city of filteredCities" [value]="city.id">{{ city.cityName }}</option>
          <div class="form-text text-danger" *ngIf="City.errors?.['required'] && (City.touched || City.dirty)">Color is
            required...</div>
        </select>
      </div>
      <div class="col-lg-6 mb-3">
        <label for="city" class="form-label">Size</label>
        <select class="form-select" id="city" formControlName="city">
          <option value="" disabled>Select Size</option>
          <option *ngFor="let city of filteredCities" [value]="city.id">{{ city.cityName }}</option>
          <div class="form-text text-danger" *ngIf="City.errors?.['required'] && (City.touched || City.dirty)">Size is
            required...</div>
        </select>
      </div>
      <div class="col-lg-6 mb-3">
        <label for="SubCategory" class="form-label">Sub Category</label>
        <select class="form-select" id="SubCategory" formControlName="city">
          <option value="" disabled>Select SubCategory</option>
          <option *ngFor="let city of filteredCities" [value]="city.id">{{ city.cityName }}</option>
          <div class="form-text text-danger" *ngIf="City.errors?.['required'] && (City.touched || City.dirty)">
            SubCategory is required...</div>
        </select>
      </div>
      <div class="col-lg-6 mb-3">
        <label for="Gender" class="form-label">Gender</label>
        <select class="form-select" id="Gender" formControlName="city">
          <option value="" disabled>Select Gender</option>
          <option value="Gender">Male</option>
          <option value="Gender">Female</option>
          <!-- <option *ngFor="let city of filteredCities" [value]="city.id">{{ city.cityName }}</option> -->
          <div class="form-text text-danger" *ngIf="City.errors?.['required'] && (City.touched || City.dirty)">
            Gender is required...</div>
        </select>
      </div>

      <div class="col-lg-6 mb-3">
        <label for="product-name" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="product-name" formControlName="product-name">
        <div class="text-danger" *ngIf="Contact.errors?.['required'] && (Contact.touched || Contact.dirty)">Product Name
          is required</div>
        <div class="text-danger" *ngIf="Contact.errors?.['pattern'] && (Contact.touched || Contact.dirty)">Product Name
          is invalid</div>
        <div class="text-danger" *ngIf="Contact.errors?.['minlength'] && (Contact.touched || Contact.dirty)">Product
          Name is too short</div>
        <div class="text-danger" *ngIf="Contact.errors?.['maxlength'] && (Contact.touched || Contact.dirty)">Product
          Name is too long</div>
      </div>
      <!-- <div class="col-lg-6 mb-3">
        <label for="prodname" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="prodname" formControlName="prodname">
        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">prodname is
          required</div>
        <div class="text-danger" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)">prodname is invalid
        </div>
      </div> -->
      <div class="col-lg-6 mb-3">
        <label for="Description" class="form-label">Description</label>
        <input type="" class="form-control" id="Description" formControlName="Description">
        <div class="text-danger" *ngIf="Contact.errors?.['required'] && (Contact.touched || Contact.dirty)">Description
          is required</div>
        <div class="text-danger" *ngIf="Contact.errors?.['pattern'] && (Contact.touched || Contact.dirty)">Description
          is invalid</div>
        <div class="text-danger" *ngIf="Contact.errors?.['minlength'] && (Contact.touched || Contact.dirty)">Description
          is too short</div>
        <div class="text-danger" *ngIf="Contact.errors?.['maxlength'] && (Contact.touched || Contact.dirty)">Description
          is too long</div>
      </div>
      <!-- <div class="col-lg-6 mb-3">
        <label for="ImageUrl" class="form-label">Description</label>
        <textarea rows="2" cols="42" name="comment" form="usrform" placeholder="Enter text here..."></textarea>
      </div> -->
      <div class="col-lg-6 mb-3">
        <label for="UnitPrice" class="form-label">UnitPrice</label>
        <input type="text" class="form-control" id="UnitPrice" formControlName="UnitPrice">
        <div class="text-danger" *ngIf="Contact.errors?.['required'] && (Contact.touched || Contact.dirty)">UnitPrice is
          required</div>
        <div class="text-danger" *ngIf="Contact.errors?.['pattern'] && (Contact.touched || Contact.dirty)">UnitPrice is
          invalid</div>
        <div class="text-danger" *ngIf="Contact.errors?.['minlength'] && (Contact.touched || Contact.dirty)">UnitPrice
          is too short</div>
        <div class="text-danger" *ngIf="Contact.errors?.['maxlength'] && (Contact.touched || Contact.dirty)">UnitPrice
          is too long</div>
      </div>
      <!-- <div class="col-lg-6 mb-3">
        <label for="city" class="form-label">Gender</label>
        <select class="form-select" id="city" formControlName="city">
          <option value="" disabled>Select SubCategory</option>
          <option *ngFor="let city of filteredCities" [value]="city.id">{{ city.cityName }}</option>
          <div class="form-text text-danger" *ngIf="City.errors?.['required'] && (City.touched || City.dirty)">
            SubCategory is required...</div>
        </select>
      </div> -->
      <div class="col-lg-6 mb-3">
        <label for="ImageUrl" class="form-label">ImageUrl</label>
        <input type="url" class="form-control text-capitalize" id="ImageUrl" formControlName="ImageUrl">
        <div class="form-text text-danger" *ngIf="Address.errors?.['required'] && (Address.touched || Address.dirty)">
          ImageUrl is required...</div>
        <div class="text-danger" *ngIf="Address.errors?.['minlength'] && (Address.touched || Address.dirty)">ImageUrl is
          too short...</div>
      </div>
    </div>
   
    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="d-grid">
          <button type="submit" [disabled]="addVender.invalid" class="btn btn-lg btn-warning fw-bold text-dark">Add
            Product</button>
        </div>
      </div>
    </div>
  </form>
</div>